@tailwind base;
@tailwind components;
@tailwind utilities;

.deleteButton:hover > svg:first-child{
    display: none;
}

.deleteButton > svg:last-child{

    display: none;
}
.deleteButton:hover > svg:last-child{

    display: block;
}

/* body{
    width: 100vw;
} */