@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    min-height: 100vh;
    /* overflow-x: hidden; */
  }

.deleteButton:hover > svg:first-child{
    display: none;
}

.deleteButton > svg:last-child{

    display: none;
}
.deleteButton:hover > svg:last-child{

    display: block;
}

body{
    @apply dark:bg-gray-800 duration-500;
}

  /* Modo claro (por defecto) */
input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s, -webkit-text-fill-color 0s 0s !important;
  }
  
  /* Modo oscuro */
  .dark input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
  }

  ::-webkit-scrollbar {
    width: 0.6rem;
    @apply bg-gray-100 dark:bg-gray-400;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-slate-600 transition-colors duration-700 ;
    border-radius: 0.3rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300 dark:bg-slate-900 transition-colors duration-700;
    cursor: pointer;
  }
  